.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

.slider {
	position: relative;
	width: 100%;
}

.slider_track,
.slider_range,
.slider_left_value,
.slider_right_value {
	position: absolute;
}

.slider_track,
.slider_range {
	border-radius: 3px;
	height: 5px;
}

.slider_track {
	background-color: #f0f0f0;
	width: 100%;
	z-index: 1;
}

.slider_range {
	background-color: #00b96b;
	z-index: 2;
}

.thumb,
.thumb::-webkit-slider-thumb {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}

.thumb {
	pointer-events: none;
	position: absolute;
	height: 0;
	width: calc(100% - 48px);
	outline: none;
}

.thumb_zindex_3 {
	z-index: 3;
}

.thumb_zindex_4 {
	z-index: 4;
}

.thumb_zindex_5 {
	z-index: 5;
}

.thumb::-webkit-slider-thumb {
	background-color: #f1f5f7;
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 1px 1px #ced4da;
	cursor: pointer;
	height: 18px;
	width: 18px;
	margin-top: 4px;
	pointer-events: all;
	position: relative;
}

.thumb::-moz-range-thumb {
	background-color: #f1f5f7;
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 1px 1px #ced4da;
	cursor: pointer;
	height: 18px;
	width: 18px;
	margin-top: 4px;
	pointer-events: all;
	position: relative;
}
